@charset "utf-8"; /* CSS Document */
#lc-menustates {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    display: none
}
#localcontent {
    margin: 0;
    padding: 0;
    display: block;
    background: rgba(255, 255, 255, 1);
    pointer-events: auto;
}
#localcontent #lc-content {
    margin: 0;
    padding: 0;
    width: auto;
}
#localcontent .lc-content-case {
    margin: 0 auto;
    padding: 8px;
    
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: flex-start;
    
    background: rgba(255, 255, 225, .0);
    z-index: 450;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-content-case {
        flex-direction: column;
    }
}
#localcontent .lc-nav {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #A8A8A8;
    height: 52px;
    width: 100%;
    text-decoration: none;
	order: -30;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-nav {
        position: static;
        position: sticky;
        top: 0;
        height: 56px;
        background-color: rgba(255, 255, 255, 1.00);
        order: -30;
        z-index: 300;
    }
}
#localcontent .lc-nav-case {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-decoration: none;
}
#localcontent .lc-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    order: -20;
    z-index: 400;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-menu {
        display: none;
        justify-content: flex-start;
        order: -10;
        z-index: 50;
    }
    #lc-menustates:checked ~ #lc-content .lc-menu, #lc-menustates:checked ~ #lc-content .lc-menu {
        display: block;
    }
}
#localcontent .lc-menu-case {
    margin: 0 -6px;
    padding: 0;
    margin-top: -40px;
    white-space: nowrap;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-end;
    z-index: 480;
    padding-top: 2px;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-menu-case {
        margin: 0 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 8px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        visibility: hidden;
        overflow: hidden
    }
    #lc-menustates:checked ~ #lc-content .lc-menu-case, #lc-menustates:checked ~ #lc-content .lc-menu-case {
        visibility: visible;
        height: auto;
        box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .2);
        border-bottom: 1px solid #A8A8A8;
        -webkit-transition: background .0s .0s cubic-bezier(.5, 0.2, 0.3, 1), height 1s cubic-bezier(.5, 0.2, 0.3, 1);
        transition: background .0s .0s cubic-bezier(.5, 0.2, 0.3, 1), height 0s cubic-bezier(.5, 0.2, 0.3, 1);
        transition-delay: 0.2s;
    }
}
#localcontent .lc-menu a {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 1.75;
    font-size: 0.875em;
}
#localcontent .lc-menu-item {
    margin: 0;
    padding: 0 8px;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-menu-item {
        padding: 4px 8px;
        background-color: transparent;
    }
    #localcontent .lc-menu-item:hover {
        background-color: rgba(240, 240, 240, .5);
    }
}
#localcontent .lc-nav-label {
    margin: 0;
    padding: 0;
}
#localcontent .lc-nav-menuicon {
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
}
#localcontent .lc-nav-menuicon-label {
    margin: 0;
    padding-top: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 32px;
    height: 24px;
    -webkit-tap-highlight-color: transparent
}
#localcontent .lc-nav-menuicon-label-case {
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: content-box;
    width: 24px;
    height: 12px;
    position: relative;
}
#localcontent .lc-nav-menuicon-label-left {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden;
}
#localcontent .lc-nav-menuicon-label-left-crust {
    background-color: darkslateblue;
    width: 14px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 5px;
    transform: rotate(36deg);
    transition: transform .4s;
}
#lc-menustates:checked ~ #lc-content .lc-nav-menuicon-label-left-crust, #lc-menustates:target ~ #lc-content .lc-nav-menuicon-label-left-crust {
    transform: rotate(-36deg);
    transition: transform .4s;
}
#localcontent .lc-nav-menuicon-label-right {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    left: 12px;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    overflow: hidden
}
#localcontent .lc-nav-menuicon-label-right-crust {
    background-color: darkslateblue;
    width: 14px;
    height: 2px;
    position: absolute;
    right: 0px;
    top: 5px;
    transform: rotate(-36deg);
    transition: transform .4s;
}
#lc-menustates:checked ~ #lc-content .lc-nav-menuicon-label-right-crust, #lc-menustates:target ~ #lc-content .lc-nav-menuicon-label-right-crust {
    transform: rotate(36deg);
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-nav-menuicon {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }
    #lc-menustates:checked ~ #lc-menustates .lc-nav-menuicon, #lc-menustates:target ~ .lc-content-case .lc-nav-menuicon {
        /*        background-color: antiquewhite;*/
    }
}

#localcontent .lc-article-case {
    margin: 0;
    padding: 0;
    margin-top: -1.125em;
    
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 200;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-article-case {
        flex-direction: column;
    }
}
#localcontent .lc-list {
	box-sizing: border-box;
    margin: 0;
	margin-top: 24px;
    padding: 0;
    
    flex-shrink: 0;
    min-width: 15.6em;
    flex-basis: 15.6em;
	max-width: 16em;
    
    order: -10;
    z-index: 100;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-list {margin-top: 0;
		
        width: auto;
        display: none;
        min-width: 100%;
        flex-basis: 100%;
        max-width: 100%;
        order: -20;
    }
    #lc-menustates:checked ~ #lc-content .lc-list, #lc-menustates:target ~ #lc-content .lc-list {
        display: block;
        position: sticky;
        top: 52px;
    }
}
#localcontent .lc-list a, #localcontent .lc-list a:link, #localcontent .lc-list a:visited, #localcontent .lc-list a:hover, #localcontent .lc-list a:active {
    color: #101010;
    text-decoration: none;
}
#localcontent .lc-list a:hover, #localcontent .lc-list a:active {
    color: #404040;
    text-decoration: underline;
}
#localcontent .lc-list-case {
    margin: 0;
    padding: 0;
    
    border-radius: 4px;
    
    width: 90%;
    width: calc(100% - 1.5em);
    box-shadow: 0 0 4px 1px rgba(127, 127, 127, .2);
    
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-list-case {
        width: auto;
    }
}
#localcontent .lc-list-title {
    margin: 0;
    padding: 0 .2em;
    font-size: 1em;
    font-weight: 600;
    line-height: 2.25;
    background: #f4f3f9;
}
#localcontent .lc-list-index {
    margin: 0;
    padding: 0;
}
#localcontent .lc-list-sub {
    margin: .3em 0;
    padding: 0;
    font-size: 0.875em;
    line-height: 2.5em;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-list-sub {
        flex-direction: column;
        
        flex-wrap: wrap;
		background-color: rgba(255,255,255,1.00);
        line-height: 2.0em;
      
    }
}
#localcontent .lc-list-item {
    margin: 0;
    padding: 0 1em;
    min-width: 172px;
    flex-basis: 47.5%;
    flex-basis: calc(50% - .75em);
    box-sizing: border-box;
    white-space: nowrap;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-list-item {
        padding: 0 1em;
    }
}
#localcontent .lc-article {
    margin: 0;
	margin-top: 24px;
    padding: 0;
    border-bottom: 200px;
	flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 1.00);
    border: 0px #f0f0f0 solid;
    border-radius: 4px;
    width: calc( 100% - 20em );
    order: 40;
}
@media only screen and (max-width: 767px) {
    #localcontent .lc-article {
        width: 100%;
    }
}
#localcontent .lc-list-graph {
    margin: 0;
    padding: 0;
    margin-left: 2em;
}
#localcontent .lc-article-header {
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #A8A8A8;
}
#localcontent .lc-article-header h1 {
    margin: 0;
}
#localcontent .lc-article-header p {
    font-size: 1.25em;
}
#localcontent .lc-content-content {
    margin: 0;
    padding: 0;
    margin-bottom: -1.0em;
    
}
@media only screen and (max-width: 767px) {
    #localcontent lc-content-case99999 {
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, .0);
    }
}