@charset "utf-8";
/* CSS Document */ :root {}
html {
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    padding: 0;-webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #242428;
    
    direction: ltr;
    background-color: rgba(255, 255, 255, 1);
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    margin: 0;
    padding: 0;
    display: block;
}
hr {}
h1, h2, h3, h4, h5, h6, {}
h1, {}
h2, {}
h3, {}
h4, {}
h5, {}
h6, {}
p {}
address {}
ol, ul, dl {}
ol ol, ul ul, ol ul, ul ol {}
dt {}
dd {}
blockquote {}
b, strong {}
small {}
sub, sup {}
sub {}
sup {}
a {
    color: #242420;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #141410;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {}
pre, code, kbd, samp {}
pre {}
figure {}
img {
    border-style: none;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
caption {}
th {}
label {}
button:focus {}
input, button, select, optgroup, textarea {}
input {}
button {}
select {}
textarea {}
fieldset {}
legend {}
progress {}
output {}
summary {}
template {}
small {}
mark {}
code {}
a > code {
    color: inherit;
}