@charset "utf-8"; /* CSS Document */
#gn-menustates {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    display: none
}
#globalnav {
    margin: 0;
    padding: 0;
    background: rgba(32, 32, 32, .96);
    width: 100%;
    display: block;
    font-size: .875em;
    /*	position: relative;*/
    overflow: hidden;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#globalnav a, #globalnav a:link, #globalnav a:visited, #globalnav a:hover, #globalnav a:active {
    margin: 0;
    padding: 0;
    color: rgba(208, 208, 208, 0.96);
    text-decoration: none;
}
#globalnav a:hover, #globalnav a:active {
    color: rgba(240, 240, 240, 0.98);
    text-decoration: none;
}
#globalnav .gn-cover {
    margin: 0;
    padding: 0;
    display: none;
    z-index: 500;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-cover {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 48px;
    }
    #gn-menustates:checked ~ #globalnav .gn-cover, #gn-menustates:target ~ #globalnav .gn-cover {
        position: fixed;
    }
}
#globalnav .gn-cover-fix {
    display: none;
    margin: 0;
    padding: 0;
    z-index: 550;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-cover-fix {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 0;
        background: rgba(64, 64, 64, .95);
        -webkit-transition: background .5s .1s cubic-bezier(.5, 0.2, 0.3, 1), height 1s cubic-bezier(.5, 0.2, 0.3, 1);
        transition: background .5s .1s cubic-bezier(.5, 0.2, 0.3, 1), height 1s cubic-bezier(.5, 0.2, 0.3, 1), position 1s 10s;
        z-index: 8000;
    }
    #gn-menustates:checked ~ #globalnav .gn-cover-fix, #gn-menustates:target ~ #globalnav .gn-cover-fix {
        position: fixed;
        height: 100vh;
        height: 100%;
        background: rgba(8, 8, 8, .96);
        -webkit-transition: background .4s cubic-bezier(0.3, 0.1, 0.3, 1), height .6s cubic-bezier(0.5, 0.2, 0.3, 1);
        transition: background .4s cubic-bezier(0.3, 0.1, 0.3, 1), height .6s cubic-bezier(0.5, 0.2, 0.3, 1);
    }
}
#globalnav .gn-content {
    margin: 0;
    padding: 0;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: auto;
    z-index: 600;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-content {
        flex-direction: column;
        justify-content: flex-start;
        height: 48px;
        box-sizing: border-box;
    }
    #gn-menustates:checked ~ #globalnav .gn-content, #gn-menustates:target ~ #globalnav .gn-content {
        position: relative;
        top: 0;
    }
}
#globalnav .gn-header {
    margin: 0;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: content-box;
    width: auto;
    overflow: hidden;
    display: none;
    list-style: none;
    overflow: hidden;
    z-index: 900;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-header {
        position: relative;
        background: rgba(8, 8, 8, .98);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #gn-menustates:checked ~ #globalnav .gn-header, #gn-menustates:target ~ #globalnav .gn-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-bottom: 1px solid #888888;
    }
}
#globalnav .gn-header-menuicon {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}
#globalnav .gn-header-menuicon-label {
    display: block;
    position: relative;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
    filter: Alpha(opacity=80);
    opacity: .8;
    cursor: pointer;
}
#globalnav .gn-header-menuicon-label:hover {
    filter: Alpha(opacity=10);
    opacity: 1;
}
#globalnav .gn-header-menuicon-label-top {
    display: block;
    position: absolute;
    top: 4px;
    width: 32px;
    height: 32px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    z-index: 4;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-top, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: -webkit-transform .3192s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s, -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
}
#globalnav .gn-header-menuicon-label-top-crust {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(208, 208, 208, 1);
    border-radius: 0.5px;
    left: 6px;
    top: 15px;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1008s, -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-top-crust, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-top-crust {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(0.05, 0.05, 0.15, 0.95);
    -webkit-transform: none;
    transform: none;
}
#globalnav .gn-header-menuicon-label-midd {
    display: block;
    position: absolute;
    top: 4px;
    width: 32px;
    height: 32px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    z-index: 4;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-midd, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-midd {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: -webkit-transform .3192s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s, -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
}
#globalnav .gn-header-menuicon-label-midd-crust {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(208, 208, 208, 1);
    border-radius: 0.75px;
    left: 6px;
    top: 15px;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transition: visibility 0s linear 1s;
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1008s, -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-midd-crust, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-midd-crust {
    visibility: hidden;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(0.05, 0.05, 0.15, 0.95);
    -webkit-transform: none;
    transform: none;
}
#globalnav .gn-header-menuicon-label-bottom {
    display: block;
    position: absolute;
    top: 4px;
    width: 32px;
    height: 32px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    transition: opacity 0.3s cubic-bezier(.05, .05, .15, .95);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    z-index: 4;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-bottom, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: -webkit-transform .3192s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
    transition: transform .3s cubic-bezier(.05, .05, .15, .95) .1s, -webkit-transform .3s cubic-bezier(.05, .05, .15, .95) .1s;
}
#globalnav .gn-header-menuicon-label-bottom-crust {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(208, 208, 208, 1);
    border-radius: 0.75px;
    left: 6px;
    top: 15px;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
    transition: transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1008s, -webkit-transform .15s cubic-bezier(.5, 0.15, 0.5, 0.8) .1s;
}
#gn-menustates:checked ~ #globalnav .gn-header-menuicon-label-bottom-crust, #gn-menustates:target ~ #globalnav .gn-header-menuicon-label-bottom-crust {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: -webkit-transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95);
    transition: transform .2s cubic-bezier(.05, .05, .15, .95), -webkit-transform .2s cubic-bezier(0.05, 0.05, 0.15, 0.95);
    -webkit-transform: none;
    transform: none;
}
#globalnav .gn-header-logo {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 48px;
    min-width: 48px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
#globalnav .gn-header-logo a {
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
}
#globalnav .gn-header-second {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(128, 128, 128, .5);
    cursor: pointer;
}
#globalnav .gn-header-second-link {
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    min-width: 48px;
    background-color: rgba(128, 128, 128, .7);
}
#globalnav .gn-header-second-link a, #globalnav .gn-header-second-link a:link, #globalnav .gn-header-second-link a:visited {
    padding: 0 4px;
}
#globalnav .gn-second {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-second {
        display: none;
    }
}
#globalnav .gn-second a {
    font-size: 1.125em;
    line-height: 2.4;
}
#globalnav .gn-second-item {
    padding: 0px 4px;
    display: inline-block;
    /*    border: 1px solid #B5114E;*/
}
#globalnav .gn-list {
    margin: 0;
    padding: 0 4px;box-sizing:border-box;
    flex-grow: 1;
    user-select: none;
    list-style: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: .44s display: none;
    transition: visibility 0s linear 1s;
    -webkit-transition: visibility 0s;
    transition: visibility 0s;
    z-index: 600;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-list {
        width: 100%;
        top: 44px;overflow-y: auto;
        flex-direction: column;
        justify-content: flex-start;
        height: 0;
        background-color: rgba(10,10,10,1.00);
        -webkit-transition: visibility 0s linear 0.4s;
        transition: visibility 0s linear 0.4s;
    }
    #gn-menustates:checked ~ #globalnav .gn-list, #gn-menustates:target ~ #globalnav .gn-list {
        visibility: visible;
        position: fixed;
        height: 100%;
        -webkit-transition: visibility 0s linear 0.4s, margin-top .7s ease-in-out 0s;
        transition: visibility 0s linear 0.4s, margin-top .7s ease-in-out 0s;
        z-index: 600;
    }
}
#globalnav .gn-list a {
    font-size: 1.125em;
    line-height: 2.4;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-list a {
        display: block;
    }
}
#globalnav .gn-list-item {
    /*    border: 1px solid #B5114E;*/
    padding: 0px 4px;
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-list-item {
        border-bottom: 0px solid #888888;
        display: block;
        z-index: 768;
        -webkit-transition: border-bottom 0s linear 0.4s;
        transition: border-bottom 0s linear 0.4s;
    }
    #gn-menustates:checked ~ #globalnav .gn-list-item, #gn-menustates:target ~ #globalnav .gn-list-item {
        margin-right: 8px;
        border-bottom: 1px solid #888888;
    }
}
@media only screen and (max-width: 767px) {
    #globalnav .gn-list-logo {
        display: none;
    }
}